@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-color: #fbf8f4;
}

p {
    color: #6e5959;
}

::-webkit-scrollbar {
    width: 0px;
}

/*HomePage*/
h1,
button {
    font-family: 'Zodiak', serif;
}

.background-image-size {
    background-size: cover;
    background-position: center;
}

.card-visible {
    visibility: visible;
    transform: scale(1);
    opacity: 1;
    margin-top: 0;
}

.card-hidden {
    visibility: hidden;
    opacity: 0;
    transform: scale(0.9);
    margin-top: -1vh;
}

/*HomePage*/
#bg-image {
    background-image: url(https://framerusercontent.com/images/p5MZcfDDpPXH4ljOapQxGmZM.png);
}

#bg-image-2 {
    background-image: url(https://framerusercontent.com/images/05y2WVxmuPb3Jen5ob8bTJJd1U.png?scale-down-to=1024);
}

@media (min-width : 1024px) {

    #plat-restaurant-1 h1,
    #plat-restaurant-2 h1,
    #plat-restaurant-3 h1,
    #plat-restaurant-4 h1 {
        visibility: hidden;
    }
}

#plat-restaurant-1 {
    background-image: url(https://framerusercontent.com/images/ee7fjutP6PsmN7UxSbsrzxZYa4.png?scale-down-to=1024);
}

#plat-restaurant-1:hover {
    h1 {
        visibility: visible;
    }
}

#plat-restaurant-2 {
    background-image: url(https://framerusercontent.com/images/4EGMregKgEVLvu22vBk5WDIpCR4.png?scale-down-to=1024);
}

#plat-restaurant-2:hover {
    h1 {
        visibility: visible;
    }
}

#plat-restaurant-3 {
    background-image: url(https://framerusercontent.com/images/nd9SaHk77asr5pFhDTXQixMg8k.png?scale-down-to=1024);
}

#plat-restaurant-3:hover {
    h1 {
        visibility: visible;
    }
}

#plat-restaurant-4 {
    background-image: url(https://framerusercontent.com/images/9MT1hXJli4Bx7MCDpsL33LleOq8.png?scale-down-to=1024);
}

#plat-restaurant-4:hover {
    h1 {
        visibility: visible;
    }
}

#signatures {
    background-image: url(https://framerusercontent.com/images/kW8k5GNy3lZZfPaDglgWfoZmM.png?scale-down-to=1024);
}

.cards-Homepage {
    transition-duration: 300ms;
    border-bottom: 1px solid black;
}

.cards-Homepage:hover {
    border-bottom: 2px solid black;

    h1,
    h2 {
        color: #d1a374;
    }
}