@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-color: #fbf8f4;
}

p {
    color: #6e5959;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #fbf8f4;
}

::-webkit-scrollbar-thumb {
    background-color: #d1a374;
    border-radius: 4px;
}

#bg-hero {
    background-image: url(https://framerusercontent.com/images/Oadk1Vakv4zm3UEysGMoRVqlCRQ.png?scale-down-to=1024);
}

#bg-hero-2 {
    background-image: url(https://framerusercontent.com/images/MWRaMx4ZvNrOnXj1kH5SYEA5YGk.png?scale-down-to=1024);
}

/*HomePage*/
h1,
button {
    font-family: 'Zodiak', serif;
}

.background-image-size {
    background-size: cover;
    background-position: center;
}

.card-visible {
    visibility: visible;
    transform: scale(1);
    opacity: 1;
    margin-top: 0;
}

.card-hidden {
    visibility: hidden;
    opacity: 0;
    transform: scale(0.9);
    margin-top: -1vh;
}

/*HomePage*/
#bg-image {
    background-image: url(https://framerusercontent.com/images/p5MZcfDDpPXH4ljOapQxGmZM.png);
}

#bg-image-2 {
    background-image: url(https://framerusercontent.com/images/05y2WVxmuPb3Jen5ob8bTJJd1U.png?scale-down-to=1024);
}

@media (min-width : 1024px) {

    #plat-restaurant-1 h1,
    #plat-restaurant-2 h1,
    #plat-restaurant-3 h1,
    #plat-restaurant-4 h1 {
        visibility: hidden;
    }
}

#plat-restaurant-1 {
    background-image: url(https://framerusercontent.com/images/ee7fjutP6PsmN7UxSbsrzxZYa4.png?scale-down-to=1024);
}

#plat-restaurant-1:hover {
    h1 {
        visibility: visible;
    }
}

#plat-restaurant-2 {
    background-image: url(https://framerusercontent.com/images/4EGMregKgEVLvu22vBk5WDIpCR4.png?scale-down-to=1024);
}

#plat-restaurant-2:hover {
    h1 {
        visibility: visible;
    }
}

#plat-restaurant-3 {
    background-image: url(https://framerusercontent.com/images/nd9SaHk77asr5pFhDTXQixMg8k.png?scale-down-to=1024);
}

#plat-restaurant-3:hover {
    h1 {
        visibility: visible;
    }
}

#plat-restaurant-4 {
    background-image: url(https://framerusercontent.com/images/9MT1hXJli4Bx7MCDpsL33LleOq8.png?scale-down-to=1024);
}

#plat-restaurant-4:hover {
    h1 {
        visibility: visible;
    }
}

#signatures {
    background-image: url(https://framerusercontent.com/images/kW8k5GNy3lZZfPaDglgWfoZmM.png?scale-down-to=1024);
}

.cards-Homepage {
    transition-duration: 300ms;
    border-bottom: 1px solid black;
}

.cards-Homepage:hover {
    border-bottom: 2px solid black;

    h1,
    h2 {
        color: #d1a374;
    }
}

#testimonials-1 {
    background-image: url(https://framerusercontent.com/images/IRIshydahNXNNOA7Hnq7rDKKTo.png);
}

#testimonials-2 {
    background-image: url(https://framerusercontent.com/images/JmdZrXESQpAemqpVYyH3Vrg1k.png);
}

#testimonials-3 {
    background-image: url(https://framerusercontent.com/images/oa5NxHVlqfFXeVr0KxPqyQ4ujK8.png);
}

#services-1 {
    background-image: url(https://framerusercontent.com/images/2KkAr0ytzZtSeIxXwWKC1zzIKzE.png);
}

#services-2 {
    background-image: url(https://framerusercontent.com/images/0O4mDD9ZZZtOGEjfca6GROLeM0.png);
}

#services-3 {
    background-image: url(https://framerusercontent.com/images/4HOLq4U5SwiElM2msfEHQOGaTE.png);
}

.cards-services:hover {
    filter: grayscale(50%);
    margin-top: -8vh;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.251);
}

#reservation-bg {
    background-image: url(https://framerusercontent.com/images/JrA5GzXMmFmrGrUI7IsOV6bN5E.png?scale-down-to=1024);
}

@media (min-width : 1024px) {
    .cards-FAQ:hover {
        h1 {
            margin-left: 2rem;
        }
    }
}

.Card-blog:hover {
    h2 {
        background-color: #d1a374;
        color: white;
    }

    h1 {
        color: #d1a374;
    }
}

.card-visible {
    visibility: visible;
    transform: scale(1);
    opacity: 1;
    margin-top: 0;
}

.card-hidden {
    visibility: hidden;
    opacity: 0;
    transform: scale(0.9);
    margin-top: -1vh;
}

/*About*/

#bg-story {
    background-image: url(https://framerusercontent.com/images/fKSX06V9Z83OtShvIloc3UIwRc.png?scale-down-to=1024);
}

.card-team {
    transition: 0.8s ease;
}

@media (min-width : 1024px) {
    .card-team:hover {
        .info-team {
            display: flex;
        }

        .info-team-2 {
            border-bottom: 2px solid black;
        }
    }
}

#bg-section-5 {
    background-image: url(https://framerusercontent.com/images/4xS8Lw7NNykaFlfAcHNwZZdGag.png?scale-down-to=1024);
}

/*Menu*/
@media (max-width :1023px) {
    .card-menu {
        .background-image-size {
            scale: 1.1;
        }

        .card-menu-info {
            h2 {
                color: white;
            }

            h1 {
                color: #d3a574;
            }

            p {
                color: white;
            }

            div:last-child {
                background-color: #d1a374;
            }

            background-color: #132d2d;
        }
    }

}

@media (min-width :1024px) {
    .card-menu:hover {
        .background-image-size {
            scale: 1.1;
        }

        .card-menu-info {
            h2 {
                color: white;
            }

            h1 {
                color: #d3a574;
            }

            p {
                color: white;
            }

            div:last-child {
                background-color: #d1a374;
            }

            background-color: #132d2d;
        }
    }

}

/*Services*/

#bg-Services-2 {
    background-image: url(https://framerusercontent.com/images/MCB1MmnHBWNS4Qf8X0wu5dKFfGQ.png?scale-down-to=1024);
}

#bg-Services-3 {
    background-image: url(https://framerusercontent.com/images/IhPKwaQzYPSPvvUZPM3jKlCESFY.png?scale-down-to=1024);
}

#bg-Services-4-1 {
    background-image: url(https://framerusercontent.com/images/gmDm9YItDTW5GEMcXLPO2zY.png?scale-down-to=1024);
}

#bg-Services-4-2 {
    background-image: url(https://framerusercontent.com/images/8EJ7uxASMKEBDFINnoVZrMtv8.png?scale-down-to=1024);
}
